@keyframes fadeInUpS {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2) translateY(7%);
    -ms-transform: scale(1.2) translateY(7%);
    transform: scale(1.2) translateY(7%);
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    display: block;
  }
}

.fadeInUpS {
  animation: fadeInUpS 0.8s ease forwards;
  margin-right: 10px;
}

/* About01 */
.aboutVideoContainer {
  /* border: 2px solid white; */
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapItemNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.aboutVideoWrapper {
  border: 2px soldi greenyellow;
  width: 280px;
  height: 280px;
  background-color: white;
  border-radius: 50%;
}
.aboutVideoWrapper video {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.wrapDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.wrapDesc img {
  width: 12px !important;
  height: 12px !important;
  object-fit: contain;
}
.textAbout1 {
  left: 43%;
  top: 50%;
  transform: translate(-160%, -50%);
}
.textAbout2 {
  left: 5%;
  bottom: 5%;
}
.textAbout1,
.textAbout2 {
  position: absolute;
  font-size: 32px;
  color: #fff;
}

/* About02 */
.aboutNumberContainer {
  /* border: 2px solid white; */
  min-height: 70vh;
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.aboutPictureContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100vw;
  height: 70vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.aboutRow1,
.aboutRow2 {
  /* border: 2px solid white; */
  z-index: 10;
  justify-content: center;
  align-items: center;
  gap: 100px;
  display: flex;
}
.containerNumber {
  /* border: 2px solid red; */
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}
.number {
  color: white;
}

.content {
  word-wrap: normal;
  font-size: 6px;
  text-transform: uppercase;
  font-weight: 500;
  max-width: 45%;
}
.content p {
  line-height: 8px;
}
.content div {
  height: 100%;
  align-items: flex-start;
  padding-bottom: 0.8rem;
}
.content img {
  width: 4px !important;
  height: 4px !important;
}

.aboutContentText {
  color: white;
  font-size: 24px;
  width: 50%;
  margin: auto;
  text-align: center;
  font-weight: 300 !important;
}
.aboutContentText p {
  font-weight: 300 !important;
}
.aboutWrapper {
  z-index: 3;
}

/* page 04 */
.page04Container {
  position: relative;
}
.page04Content00 {
  padding: 25px 0px;
  border-bottom: 1px solid gainsboro;
}
.page04Content00 p {
  width: 40%;
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: auto;
}
.page04Content2 {
  margin: 80px auto;
  color: #fff;
  font-size: 45px;
}
.page04Content2 p {
  width: 60%;
  margin: auto;
  text-align: center;
}
.page04Content1 {
  margin: 50px auto;
}
.page04ContentText1 {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.page04Img1 {
  width: 100%;
}
.imgBox {
  width: 100%;
  height: 100%;
}
.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contentText1 {
  width: 100%;
  padding: 10% 0px;
}
.contentText1 h1 {
  text-align: center;
  font-size: 1.65rem;
}
.h1EffectBox {
  width: 80%;
  display: flex;
  align-items: center;
}
.textBox {
  padding-top: 3%;
  word-spacing: 1px;
}
.textBox p {
  font-size: 0.7rem;
  width: fit-content;
}

/* About03 */
.about03TitleBrand {
  /* border: 2px solid red; */
  color: #fff;
  font-size: 14px;
  width: 70%;
  margin: 20px auto;
  text-align: center;
}
.brandContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  gap: 5px;
  flex-wrap: wrap;
}
.wrapperBrand {
  border-radius: 50px;
  padding: 5px;
  border: 1px solid gainsboro;
  display: flex;
  align-items: center;
  color: #fff;
  flex: 1;
  gap: 5px;
  min-width: 48%;
}

.logoBrand {
  width: 30px;
  height: 30px;
}
.logoBrand img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.brandName {
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  flex: 1;
}
.brandName p {
  margin-bottom: 12px;
}
.aboutContainer03 {
  margin: 50px auto 100px auto;
}

@media (min-width: 375px) {
  .textAbout1 {
    left: 47%;
    top: 50%;
    transform: translate(-160%, -50%);
  }
  .aboutVideoWrapper {
    width: 280px;
    height: 280px;
  }
  .aboutRow1,
  .aboutRow2 {
    gap: 10px;
  }
  .number {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .aboutContentText {
    font-size: 12px;
    width: 90%;
    margin: 50px auto;
  }
  .icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  .content div {
    height: 100%;
  }
  /* page03 */
  .about03TitleBrand {
    font-size: 14px;
  }

  /* end page03 */
  /* page04 */
  .page04Content00 p {
    width: 55%;
    font-size: 12px;
  }

  .textBox p {
    font-size: 0.3rem;
    width: fit-content;
  }
  .page04ContentText1 {
    gap: 10px;
  }

  .page04Content2 p {
    width: 80%;
    font-size: 16px;
  }

  /*end  page04 */
}
@media (min-width: 425px) {
  .contentText1 h1 {
    font-size: 2rem;
  }

  /* page04 */
  .textBox p {
    font-size: 0.4rem;
  }
  /* end page04 */
}

@media (min-width: 576px) {
  .aboutVideoWrapper {
    width: 400px;
    height: 400px;
  }
  .number {
    font-size: 36px;
  }
  .content {
    font-size: 12px;
  }
  .wrapDesc img {
    width: 10px !important;
    height: 10px !important;
  }
  .textAbout1,
  .textAbout2 {
    font-size: 46px;
  }
  /* page03 */
  .about03TitleBrand {
    font-size: 16px;
  }

  .aboutContentText {
    font-size: 16px;
  }

  .brandContainer {
    grid-template-columns: 1fr 1fr;
  }
  .brandName {
    font-size: 18px;
  }

  .content p {
    line-height: 12px;
    font-size: 10px;
  }
  .content div {
    height: 100%;
    align-items: flex-start;
    padding-bottom: 1rem;
  }
  /* end page03 */
  /* page04 */
  .page04Content00 p {
    font-size: 18px;
  }
  .page04ContentText1 {
    gap: 12px;
  }

  .page04Content2 p {
    width: 70%;
    font-size: 20px;
  }

  /* end page04 */
}
@media (min-width: 768px) {
  .number {
    font-size: 52px;
    margin-bottom: 20px;
  }
  .contentText1 {
    padding: 15% 0px;
  }
  .contentText1 h1 {
    text-align: center;
    font-size: 3rem;
  }
  .textBox p {
    font-size: 0.6rem;
    width: fit-content;
  }
  .logoBrand {
    width: 40px;
    height: 40px;
  }
  .logoBrand img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .content p {
    line-height: 16px;
    font-size: 12px;
  }
  .content div {
    padding-bottom: 1.05rem;
  }
  /* page03 */
  .about03TitleBrand {
    font-size: 16px;
  }

  .brandContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* end page03 */

  /* page04 */
  .page04Content2 p {
    font-size: 26px;
  }
  /* end page04 */
}

@media (min-width: 992px) {
  .textAbout1 {
    left: 50%;
    top: 50%;
    transform: translate(-160%, -50%);
  }
  .aboutVideoWrapper {
    width: 500px;
    height: 500px;
  }
  .number {
    font-size: 56px;
  }
  .content {
    font-size: 14px;
  }
  .wrapDesc img {
    height: 12px !important;
    width: 12px !important;
  }
  .aboutContentText {
    font-size: 24px;
  }

  .aboutRow1,
  .aboutRow2 {
    gap: 20px;
  }
  .page04ContentText1 {
    gap: 20px;
  }
  .content p {
    line-height: 18px;
    font-size: 14px;
  }
  .content div {
    padding-bottom: 1.2rem;
  }
  .textBox p {
    font-size: 1.15rem;
  }
  .wrapperBrand {
    min-width: 18.5%;
  }
  /* page03 */
  .about03TitleBrand {
    font-size: 18px;
  }

  /* end page03 */

  /* page4 */

  .page04Content00 p {
    font-size: 22px;
  }

  .page04Content2 p {
    font-size: 32px;
  }

  /* end page04 */
}

@media (min-width: 1024px) {
  .aboutVideoContainer {
    min-height: 100vh;
  }

  .contentText1 h1 {
    font-size: 4rem;
  }
  .fadeInUpS {
    margin-right: 20px;
  }

  .textAbout1,
  .textAbout2 {
    font-size: 82px;
    line-height: 86px;
  }
  .textAbout2 {
    left: 5%;
    bottom: 5%;
  }

  /* page03 */
  .about03TitleBrand {
    font-size: 20px;
  }

  .brandContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  /* end page03 */

  /* page4 */
  .page04Content00 p {
    font-size: 34px;
    max-width: 55%;
    line-height: 42px;
  }
  .page04ContentText1 {
    gap: 30px;
  }

  .page04Content2 p {
    font-size: 36px;
  }

  /* end page4 */
}
@media (min-width: 1200px) {
  .aboutVideoWrapper {
    width: 40vw;
    height: 40vw;
  }
  .number {
    font-size: 86px;
  }
  .content {
    font-size: 20px;
  }

  .aboutContentText {
    font-size: 32px;
  }

  .wrapDesc img {
    height: 16px !important;
    width: 16px !important;
  }
  .textAbout1,
  .textAbout2 {
    line-height: 96px;
  }
  .content p {
    font-size: 18px;
    line-height: 24px;
  }
  .content div {
    padding-bottom: 0.8rem;
  }
  /* page03 */
  .about03TitleBrand {
    font-size: 24px;
  }

  /* end page03 */

  /* page04 */

  .page04Content2 p {
    font-size: 46px;
  }

  /* end page4 */
}

@media (min-width: 1441px) {
  .contentText1 h1 {
    font-size: 5.2rem;
  }
  .textBox p {
    font-size: 1.05rem;
    width: fit-content;
  }
  .aboutContentText {
    font-size: 38px;
  }
  .textAbout1,
  .textAbout2 {
    font-size: 106px;
  }
  .page04ContentText1 {
    gap: 40px;
  }

  .page04Content2 p {
    font-size: 52px;
  }
  .logoBrand {
    width: 50px;
    height: 50px;
  }
  .logoBrand img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
