.about1Container {
  margin: auto;
  height: 100vh;
  color: white;
  padding-top: 100px;
  position: relative;
}

.about1Video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about1Video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.about1VideoLoading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about1VideoLoading video {
  width: 30%;
  height: 30%;
  max-width: 1000px;
  max-height: 1000px;
  pointer-events: none;
  object-fit: contain !important;
}

.about1Bg {
  margin: auto;
  object-fit: contain;
  background: black no-repeat center center/cover;
  height: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.about1Content {
  position: relative;
  z-index: 2;
  max-width: 1307px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 50px;
  width: 89%;
}

.about1Content h1 {
  font-size: 80px;
  font-weight: bold;
}

.about1Content p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

.btn {
  width: fit-content;
  border: 1px soild white;
  padding: 14px 20px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.274);
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.about4Container {
  position: relative;
  margin: 220px auto;
}

.about4bg {
  background: url("../public/imgs/logo-white.png") no-repeat center center/cover;
  background-size: 60%;
  height: 100%;
  position: relative;
}

.about4Content {
  /* border: 2px solid red; */
  max-width: 1307px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 80px 0px;
  color: white;
  width: 89%;
}

.about4Left {
  color: white;
  z-index: 2;
  font-size: 32px;
  font-weight: 700;
  flex: 1;
  line-height: 40px;
}

.about4Left p {
  margin-bottom: 5px;
}

.about4Right {
  color: white;
  z-index: 2;
  flex: 1;
  display: flex;
  gap: 20px;
  font-size: 20px;
  justify-content: end;
}

.itemBox {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.viewAll {
  width: fit-content;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.about05Container {
  margin: 220px auto;
}

.about05Content {
  width: 89%;
  margin: auto;
  max-width: 1307px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: start;
  color: white;
  gap: 40px;
}

.video {
  border-radius: 20px;
  height: 500px;
  width: 100%;
}
.about05Left {
  flex: 1.2;
}

.about05Right {
  flex: 1;
}

.about05Right p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}

.about05RightTitle {
  font-size: 24px !important;
  font-weight: 700 !important;
}

.about06Container {
  margin: 220px auto;
}

.about06Content {
  width: 89%;
  margin: auto;
  /* border: 2px solid red; */
  max-width: 1307px;
}

.about06Content h3 {
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
  margin-bottom: 45px;
}

.partnerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}
.partner img {
  object-fit: contain;
}

.teamBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.memberItem {
  /* border: 2px solid red; */
  width: 400px;
  height: 369px;
  background: url("../public/imgs/img-banner-new.webp") no-repeat center
    center/cover;
  display: flex;
  align-items: end;
  border-radius: 15px;
  overflow: hidden;
}

.memberInfo {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  padding: 10px 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.memberInfo h4 {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}

.memberInfo p {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 350px) {
  .about1Content h1 {
    font-size: 30px;
  }

  .about1Content p {
    font-size: 18px;
  }
  .btn {
    font-size: 12px;
  }

  .about4Left {
    font-size: 14px;
  }

  .about4Right {
    font-size: 10px;
    gap: 15px;
  }

  .itemBox {
    gap: 15px;
  }

  .about05Content {
    flex-direction: column;
    gap: 20px;
  }

  .about05Left {
    flex: 1;
    width: 100%;
  }

  .abour05Right {
    flex: 1;
  }

  .video {
    height: 70vw;
  }

  .about06Content h3 {
    font-size: 18px;
  }

  .teamBox {
    flex-direction: column;
    gap: 20px;
  }

  .memberItem {
    width: 90vw;
    height: 65vw;
  }
  .about1Container {
    padding-top: 60px;
  }

  .about4Container {
    margin: 0px auto;
  }

  .about05Container {
    margin: 100px auto;
  }
  .about06Container {
    margin: 100px auto;
  }
}

@media (min-width: 600px) {
  .about1Content h1 {
    font-size: 35px;
  }

  .about1Content p {
    font-size: 16px;
  }
  .btn {
    font-size: 12px;
  }

  .about4Left {
    font-size: 16px;
  }

  .about4Right {
    font-size: 12px;
    gap: 15px;
  }

  .itemBox {
    gap: 15px;
  }

  .about06Content h3 {
    font-size: 24px;
  }
  .about1Container {
    padding-top: 100px;
  }
  .about4Container {
    margin: 50px auto;
    margin-top: 0px;
  }

  .about05Container {
    margin: 150px auto;
  }
  .about06Container {
    margin: 150px auto;
  }
}

@media (min-width: 768px) {
  .about1Content h1 {
    font-size: 50px;
  }

  .about1Content p {
    font-size: 20px;
  }
  .btn {
    font-size: 14px;
  }

  .about4Left {
    font-size: 18px;
  }

  .about4Right {
    font-size: 14px;
    gap: 17px;
  }

  .itemBox {
    gap: 18px;
  }

  .about06Content h3 {
    font-size: 26px;
  }

  .about4Container {
    margin: 150px auto;
    margin-top: 0px;
  }

  .about05Container {
    margin: 170px auto;
  }
  .about06Container {
    margin: 170px auto;
  }
}

@media (min-width: 1024px) {
  .about1Content h1 {
    font-size: 60px;
  }

  .about1Content p {
    font-size: 24px;
  }
  .btn {
    font-size: 16px;
  }

  .about4Left {
    font-size: 22px;
  }

  .about4Right {
    font-size: 16px;
    gap: 20px;
  }

  .itemBox {
    gap: 20px;
  }

  .about05Content {
    flex-direction: row;
    gap: 20px;
  }

  .about05Left {
    flex: 1.2;
    width: 100%;
  }

  .abour05Right {
    flex: 1;
  }

  .video {
    height: 40vw;
    max-height: 500px;
  }

  .about06Content h3 {
    font-size: 30px;
  }

  .teamBox {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }

  .memberItem {
    width: 43vw;
    max-width: 545px;
    max-height: 369px;
  }

  .about4Container {
    margin: 220px auto;
    margin-top: 0px;
  }

  .about05Container {
    margin: 220px auto;
  }
  .about06Container {
    margin: 220px auto;
  }
}

@media (min-width: 1280px) {
  .about1Content h1 {
    font-size: 80px;
  }

  .about1Content p {
    font-size: 24px;
  }
  .btn {
    font-size: 16px;
  }

  .about4Left {
    font-size: 32px;
  }

  .about4Right {
    font-size: 20px;
    gap: 20px;
  }

  .itemBox {
    gap: 35px;
  }

  .about05Left {
    flex: 1.2;
    width: 100%;
  }

  .abour05Right {
    flex: 1;
  }

  .about06Content h3 {
    font-size: 32px;
  }

  .teamBox {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
  }

  .memberItem {
    width: 90vw;
    max-width: 400px;
    max-height: 300px;
  }
}

@media (min-width: 1488px) {
  .about1Content,
  .about4Content,
  .about06Content {
    width: 76%;
  }
}

@media (min-width: 1498px) {
  .about1Content,
  .about4Content,
  .about06Content {
    width: 90%;
  }
}

@media (min-width: 1500px) {
  .about1Content,
  .about4Content,
  .about06Content {
    width: 76.5%;
  }
}
