.wrapBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    width: 100%;
}

.Btn {
    display: flex;
    gap: 5px;
    justify-content: end;
    align-items: center;
    border: 1px solid #393939;
    padding: 0.35rem;
    border-radius: 20px;
}

.wrapBtn img {
    object-fit: contain;
}

.wrapImage {
    margin-top: 1rem;
    .swiper-slide-next {
        right: 0 !important;
    }
}

.wrapImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    border: 1px solid #393939;
}

.Title {
    font-weight: 600;
    font-style: normal;
}

@media screen and (min-width: 1480px) {
    .Btn div {
        width: 2rem;
    }

    .Title {
        font-size: 20px;
    }
}
