.newPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: auto;
}

.newPageSubContainer {
  width: min(92%, 1600px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 5rem auto;
  margin-top: 0;
}
