.FindGroup {
  display: flex;
  width: 100%;
  position: relative;
}
.FindGroup input {
  width: 100%;
  height: 40px;
  padding: 0 3rem 0 1.5rem;
  font-size: 16px;
  border: none;
  border-radius: 20px;
}
.FindGroup .IconFind,
.FindGroup .ArrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.IconFind,
.ArrowRight {
  color: black;
}
.FindGroup .ArrowRight {
  padding-left: 1.3rem;
}
.FindGroup .WrapIconRight {
  position: absolute;
  top: 50%;
  right: 18%;
  transform: translateY(-50%);
}

@media screen and (min-width: 576px) {
  .FindGroup .WrapIconRight {
    right: 10%;
  }
}

@media screen and (min-width: 992px) {
  .FindGroup .WrapIconRight {
    right: 8%;
  }
}
@media screen and (min-width: 1124px) {
  .FindGroup .WrapIconRight {
    right: 5%;
  }
}
