.footerContainer {
  width: min(90%, 1600px);
  margin: 0 auto;
  padding-top: 5rem;
  max-width: 1307px;
}
.landingPageIcon {
  color: #fff;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 19px;
  position: fixed;
  bottom: 5%;
  left: 2%;
  right: 2%;
}

.iconRight {
  height: 1em;
}
.leftIconBox {
  text-align: center;
  text-transform: capitalize;
}
.iconLeft {
  position: relative;
  width: 25px;
  padding: 5px;
}
.iconRight {
  height: 1em;
}
.rightIconBox {
  display: flex;
}
.rightIconBoxInside {
  text-align: center;
  margin-left: 10px;
}
.leftIconBoxInside {
  display: flex;
  align-items: flex-end;
}
.rightIconBoxInside {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.footerLogo img {
  width: 150px;
  height: auto;
}
.footerTop {
  text-transform: uppercase;
  color: #fff;
}
.footerMedia,
.footerNav {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
.footerNav {
  border-bottom: 1px solid gainsboro;
}
.footerBottom {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
.iconContactFooter {
  position: absolute;
  top: 46%;
  right: 0;
  transform: translateY(-50%);
}

.navBox {
  padding: 50px 0px;
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
}
.navBox ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.navBox ul li {
  list-style: none;
}
.navBox a {
  position: relative;
}
.navBox a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.navBox li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.navBox li a:hover::after,
.navBox li a:focus::after {
  transform: scale(1);
}

.footerNavItem a {
  color: #fff;
  transition: 0.5s;
  position: relative;
}

.footerNavItem a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.footerNavItem a:hover::before {
  box-shadow: 0 0 15px #fff;
}

.footerNavItem a:hover {
  color: #fff;
  transform: scale(1.1);
  padding: 2px 7px;
  border-radius: 18px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  text-shadow: 0 0 7px #fff;
}

@media (min-width: 350px) {
  .footerMedia,
  .footerNav {
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    padding: 50px 0px;
  }
  .footerLogo img {
    width: 80px;
    height: auto;
  }
  .footerBottom {
    gap: 20px;
    font-size: 8px;
  }
  .footerInfo {
    margin-bottom: 3px;
  }
}
@media (max-width: 480px) {
  .footerInfo p:first-child {
    width: 50%;
  }
  .footerInfo p {
    font-size: 8px;
    text-wrap: wrap;
  }
  .contactUs {
    font-size: 10px !important;
  }
}
@media (min-width: 425px) {
  .test {
    height: 60vh;
  }
  .logan-container h1 {
    font-size: clamp(2rem, 7.7vw, 4.197rem);
  }
  .footerMedia,
  .footerNav {
    font-size: 12px;
  }
  .footerLogo img {
    width: 100px;
  }
  .footerBottom {
    gap: 20px;
    font-size: 10px;
  }
  .footerInfo {
    margin-bottom: 3px;
  }
}

@media (min-width: 768px) {
  .test {
    height: 65vh;
  }
  .logan-container h1 {
    font-size: clamp(3rem, 7.7vw, 5.6rem);
  }
  .footerMedia,
  .footerNav {
    font-size: 14px;
  }
  .footerLogo img {
    width: 120px;
  }
  .footerBottom {
    gap: 20px;
    font-size: 12px;
  }
  .footerInfo {
    margin-bottom: 5px;
  }
}

@media (min-width: 1024px) {
  .test {
    height: 100vh;
  }
  .landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logan-container {
    margin: 0px auto;
    max-width: 1180px;
  }
  .logan-container h1 {
    /* font-size: 7.13rem; */
    font-size: clamp(4.197rem, 7.7vw, 7.13rem);
  }
  .footerMedia,
  .footerNav {
    font-size: 16px;
  }
  .footerLogo img {
    width: 130px;
  }
  .footerBottom {
    gap: 20px;
    font-size: 14px;
  }
  .footerInfo {
    margin-bottom: 7px;
  }
}
@media (min-width: 1440px) {
  .landing-page-pic {
    height: 90.9vh;
    /* position: absolute; */
  }
  .footerMedia,
  .footerNav {
    font-size: 17px;
  }
  .footerLogo img {
    width: 150px;
  }
  .footerBottom {
    gap: 80px;
    font-size: 15px;
  }
  .footerInfo {
    margin-bottom: 12px;
  }
}

/* nav */

@media (min-width: 350px) {
  .navBox {
    font-size: 10px;
  }
  .navBox ul {
    gap: 8px;
    margin-bottom: 0.2rem;
  }

  .navContainer {
    left: 5%;
    right: 5%;
  }
}
@media (min-width: 425px) {
  .navBrandLogo img {
    width: 80px;
  }
  .projectLogo {
    width: 20px;
  }
  .navProject {
    font-size: 10px;
  }
  .navBox {
    font-size: 10px;
  }
  .navBox ul {
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    width: min(90%, 1400px);
  }
  .navBrandLogo img {
    width: 90px;
  }
  .projectLogo {
    width: 25px;
  }
  .navProject {
    font-size: 12px;
  }
  .navBox {
    font-size: 15px;
  }
  .navBox ul {
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .navBrandLogo img {
    width: 110px;
  }
  .projectLogo {
    width: 27px;
  }
  .navProject {
    font-size: 15px;
  }
  .navBox {
    font-size: 17px;
  }
  .navBox ul {
    gap: 50px;
  }
  .navContainer {
    left: 5%;
    right: 5%;
  }
}

@media (min-width: 1440px) {
  .navBrandLogo img {
    width: 125px;
  }
  .projectLogo {
    width: 30px;
  }
  .navContainer {
    /* left: 11.6%;
    right: 11.6%; */
    left: 5.5%;
    right: 5.5%;
  }
}

.language {
  background: #d9d9d9;
  width: fit-content;
  border-radius: 50%;
  padding: 3.5px;
  color: #000;
}

@media (min-width: 1488px) {
  .navContainer {
    left: 11.6%;
    right: 11.6%;
  }
}

@media (min-width: 1498px) {
  .navContainer {
    left: 5.5%;
    right: 5.5%;
  }
}

@media (min-width: 1500px) {
  .navContainer {
    left: 11.6%;
    right: 11.6%;
  }
}
