@font-face {
  font-family: "galano";
  src: url(/fonts/GalanoGrotesque-Medium.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "galano", "montserrat";
  background-color: #131313;
}
.container {
  background-color: #131313;
  width: min(90%, 1600px);
  /* position: relative; */
  /* margin-inline: auto; */
  margin: 0 auto;
  font-family: "galano", "montserrat";
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  background-color: #131313;
  overflow: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "galano", "montserrat";
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
