.container {
  background-color: #131313;
  width: min(90%, 1600px);
  margin: 0 auto;
  font-family: 'galano', 'montserrat';
}

.containerAbout {
  background-color: #131313;
  margin: 0 auto;
  font-family: 'galano', 'montserrat';
}
