.container {
  background-color: black;
  width: min(90%, 1600px);
  margin: 0 auto;
  font-family: "galano", "montserrat";
}

.containerAbout {
  background-color: black;
  margin: 0 auto;
  font-family: "galano", "montserrat";
}
