.container {
  background-color: #131313;
  width: min(90%, 1600px);
  margin: 0 auto;
  font-family: "galano", "montserrat";
}
.navContainer {
  position: fixed;
  margin: 0px auto;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 11.6%;
  right: 11.6%;
  color: white;
  transition: transform ease-in-out 0.8s;
}
.navMoveUp {
  transform: translateY(-80%);
}
.navMoveDown {
  transform: translateY(0%);
}
.navBrandLogo img {
  width: 50px;
  height: auto;
}
.navProject {
  color: #fff;
  text-align: center;
  font-size: 7px;
}
.projectLogo {
  width: 20px;
}
.navBox {
  font-size: 17px;
  text-transform: uppercase;
}
.navBox ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navBox ul li {
  list-style: none;
}
.navBox a {
  position: relative;
}
.navBox a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.navBox li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.navBox li a:hover::after,
.navBox li a:focus::after {
  transform: scale(1);
}

@media (min-width: 350px) {
  .navBox {
    font-size: 10px;
  }
  .navBox ul {
    gap: 8px;
    margin-bottom: 0.2rem;
  }

  .navContainer {
    left: 5%;
    right: 5%;
  }
}
@media (min-width: 425px) {
  .navBrandLogo img {
    width: 80px;
  }
  .projectLogo {
    width: 20px;
  }
  .navProject {
    font-size: 10px;
  }
  .navBox {
    font-size: 10px;
  }
  .navBox ul {
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    width: min(90%, 1400px);
  }
  .navBrandLogo img {
    width: 90px;
  }
  .projectLogo {
    width: 25px;
  }
  .navProject {
    font-size: 12px;
  }
  .navBox {
    font-size: 15px;
  }
  .navBox ul {
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .navBrandLogo img {
    width: 110px;
  }
  .projectLogo {
    width: 27px;
  }
  .navProject {
    font-size: 15px;
  }
  .navBox {
    font-size: 17px;
  }
  .navBox ul {
    gap: 50px;
  }
  .navContainer {
    left: 5%;
    right: 5%;
  }
}

@media (min-width: 1440px) {
  .navBrandLogo img {
    width: 125px;
  }
  .projectLogo {
    width: 30px;
  }
  .navContainer {
    left: 11.6%;
    right: 11.6%;
  }
}

.language {
  background: #d9d9d9;
  width: fit-content;
  border-radius: 50%;
  padding: 3.5px;
  color: #000;
}
