.newPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: auto;
}

.newPageSubContainer {
  width: min(90%, 1600px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 4rem auto;
  margin-top: 6rem;
  max-width: 1307px;
}
