.service2Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.service2IntroText {
  font-size: 24px;
  color: #858585;
  width: 100%;
  line-height: 36px;
  font-weight: 500;
}

.service2IntroText span {
  font-size: inherit;
  color: #fff;
  width: fit-content;
}
.service2IntroTextHighlight {
  font-size: inherit;
  color: #fff;
  width: fit-content;
}

@media screen and (min-width: 375px) {
  .service2Container {
    min-height: 30vh;
    margin-bottom: 3rem;
  }

  .service2IntroText {
    font-size: 27px;
    line-height: 34px;
  }
}
@media screen and (min-width: 576px) {
  .service2IntroText {
    font-size: 38px;
    line-height: 52px;
  }
}
@media screen and (min-width: 768px) {
  .service2IntroText {
    font-size: 56px;
    line-height: 72px;
  }
}
@media screen and (min-width: 1024px) {
  .service2Container {
    min-height: 100vh;
  }
  .service2IntroText {
    font-size: 73px;
    line-height: 82px;
  }
}
@media screen and (min-width: 1200px) {
  .service2IntroText {
    font-size: 88px;
    line-height: 100px;
  }
}

@media screen and (min-width: 1480px) {
  .service2IntroText {
    font-size: 96px;
    line-height: 110px;
  }
}
