.service3Container {
  color: #fff;
  max-width: 1307px;
  margin: auto;
  margin-bottom: 150px;
}
.wrapItemService {
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.wrapTextCard {
  font-style: normal;
  max-width: 80%;
  padding: 1rem 0;
}
.titleCard {
  text-transform: capitalize;
  font-size: 26px;
}
.subTitleCard {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}
.desc {
  display: inline-block;
  margin: 18px 0;
  text-transform: capitalize;
  font-size: 14px;
}

.wrapCircle {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  background-size: contain;
}
.wrapItemService:not(:first-child):hover .wrapTextCard {
  opacity: 0.7;
}
.wrapItemService:hover .wrapCircle {
  background-image: url("~/public/imgs/img-circle-full.png"); /* Default image */
}

.wrapCircle img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  .titleCard {
    font-size: 52px;
  }
  .subTitleCard {
    font-size: 18px;
  }
  .desc {
    font-size: 18px;
  }
  .wrapCircle {
    width: 42px;
    height: 42px;
  }
}
@media screen and (min-width: 992px) {
  .wrapTextCard {
    max-width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapTextCard {
    max-width: 60%;
  }
}
@media screen and (min-width: 1200px) {
}
