.service5Container {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.wrapBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapBtn button {
  min-width: 300px;
}

@media screen and (min-width: 576px) {
  .wrapBtn {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .service5Container {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    position: relative;
  }
}
@media screen and (min-width: 1480px) {
  .wrapBtn button {
    min-width: 450px;
  }
}
